<h1>Free Draw Gallery</h1>

<%= link_to 'Free Draw!', new_free_draw_path, class: :button, id: "free_draw", 'data-ajax' => false %>

<ul id="solutions_list">
	<% @solutions.each do |solution| %>
			
		<li>
			<span>Name: <%= solution.username %></span>
			<span>Likes: <%= solution.likes %></span>
			<%= link_to image_tag('like.png'), problem_solution_likes_path(@problem, solution), method: :post, id: 'like', title: 'Like!' %>
		</li>
			<%= image_tag solution.picture, class: :solution %>
	<% end %>
</ul>
