<h1>Solutions</h1>
<h3 class="float_left"><%= @problem.question %>:</h3>
<%= link_to 'Draw This Problem!', new_problem_solution_path(@problem), class: :button, id: "draw_this_problem", 'data-ajax' => false %>

<ul>
	<% @solutions.each do |solution| %>
			
		<li>
			<%= solution.id %>.
			<span><%= solution.username %></span>
			<%= solution.answer %>
		</li>
			<%= image_tag solution.picture, class: :solution %>
	<% end %> 
</ul>
