<h1>Solutions Gallery</h1>
<div class="row"><h2 class="max_width"><%= @problem.question %></h2>
<%= link_to 'Draw This Problem!', new_problem_solution_path(@problem), class: :button, id: "draw_this_problem", 'data-ajax' => false %></div>

<ul id="solutions_list">
	<% @solutions.each do |solution| %>
			
		<li>
			<span>Name: <%= solution.username %></span>
			Answer: <%= solution.answer %>
		</li>
			<%= image_tag solution.picture, class: :solution %>
	<% end %>
</ul>
