<h1>Solutions</h1>
<h2 class="float_left"><%= @problem.question %>:</h2>
<%= link_to 'Draw This Problem!', new_problem_solution_path(@problem), class: :button, id: "draw_this_problem", 'data-ajax' => false %>

<ul id="solutions_list">
	<% @solutions.each do |solution| %>
			
		<li>
			<span>Name: <%= solution.username %></span>
			Answer: <%= solution.answer %>
		</li>
			<%= image_tag solution.picture, class: :solution %>
	<% end %> 
</ul>
