<!DOCTYPE html>
<html>
	<head>

	  <title>Math Canvas</title>

	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>
		<div class="container">
			<div class="nav">
				<ul>
					<li class="float_left"><h2 class="nav_title">Math Canvas</h2></li>
					<li class="float_left"><%= image_tag "mathcanvaslogo.png", class: :logo_small %></li>
					<% if @active_page == 'Solutions' %>
						<div class='main_link active'>
					<% else %>
						<div class='main_link'>
					<% end %>
						<li class="float_right"><%= link_to 'Solutions', problems_gallery_path %></li>
					</div>


					<% if @active_page == 'Problems' %>
						<div class='main_link active'>
					<% else %>
						<div class='main_link'>
					<% end %>
						<li class="float_right"><%= link_to 'Problems', problems_solve_path %></li>
					</div>
					
					<% if @active_page == 'Home' %>
						<div class='main_link active'>
					<% else %>
						<div class='main_link'>
					<% end %>
						<li class="float_right"><%= link_to 'Home', root_path %></li>
					</div>

				</ul>
			</div> <!-- close nav div -->
			<div class="main_content">
				<%= yield %>
			</div> <!-- close main_content div -->
		</div> <!-- close container div -->
	</body>
</html>
